/WishListServer/.vs
WishListServer/appsettings.json
WishListServer/bin/Debug/net10.0/appsettings.Development.json
/WishListServer/bin
WishListServer/appsettings.Development.json
/WishListServer/obj
WishListServer/Properties/launchSettings.json
/WishListServer/src/assets
WishListServer/WishListServer.csproj.user
WishListServer/WishListServer.slnx
/WishListClient/.vs
/WishListClient/bin
/WishListClient/obj
WishListClient/WishListClient.slnx
WishListClient/WishListClient.csproj.user
